@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
    <div class="col-sm-6">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Departamentos</h5>
                <p class="card-text">Mantenimiento de Departamentos, Provincias y Distritos</p>
                <a asp-controller="Departamentos" asp-action="Index" class="btn btn-primary">Ingresar</a>
            </div>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Trabajadores</h5>
                <p class="card-text">Mantenimiento de Trabajadores</p>
                <a asp-controller="Trabajadores" asp-action="Index" class="btn btn-primary">Ingresar</a>
            </div>
        </div>
    </div>
</div>
