@model TrabajadoresFinish.Models.Trabajadores

<div class="ibox-content">
    <div class="row">
        <form asp-action="Create" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="col col-sm-12">
                <div class="form-group">
                    <div class="input text">
                        <label asp-for="TipoDocumento" class="control-label"></label>
                        <select asp-for="TipoDocumento" class="form-control" asp-items="ViewBag.TipoDocumento" id="comb"></select>
                        <span asp-validation-for="TipoDocumento" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="col col-sm-12">
                <div class="form-group">
                    <div class="input text">
                        <label asp-for="NumeroDocumento" class="control-label"></label>
                        <input asp-for="NumeroDocumento" class="form-control" required />
                        <span asp-validation-for="NumeroDocumento" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="col col-sm-12">
                <div class="form-group">
                    <div class="input text">
                        <label asp-for="Nombres" class="control-label"></label>
                        <input asp-for="Nombres" class="form-control" required />
                        <span asp-validation-for="Nombres" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="col col-sm-12">
                <div class="form-group">
                    <div class="input text">
                        <label asp-for="Sexo" class="control-label"></label>
                        <input asp-for="Sexo" class="form-control" required />
                        <span asp-validation-for="Sexo" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="col col-sm-12">
                <div class="form-group">
                    <div class="input text">
                        <label asp-for="IdDepartamento" class="control-label"></label>
                        <select asp-for="IdDepartamento" class="form-control" asp-items="ViewBag.IdDepartamento" id="comboDepartamento" onchange="onchangeDepartamento()"></select>
                        <span asp-validation-for="IdDepartamento" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="col col-sm-12">
                <div class="form-group">
                    <div class="input text">
                        <label asp-for="IdProvincia" class="control-label"></label>
                        <select asp-for="IdProvincia" class="form-control" asp-items="ViewBag.IdDepartamento" id="comboProvincia" onchange="onchangeProvincia()"></select>
                        <span asp-validation-for="IdProvincia" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="col col-sm-12">
                <div class="form-group">
                    <div class="input text">
                        <label asp-for="IdDistrito" class="control-label"></label>
                        <select asp-for="IdDistrito" class="form-control" asp-items="ViewBag.IdDepartamento" id="comboDistrito"></select>
                        <span asp-validation-for="IdDistrito" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="col col-sm-12 text-right">
                <div class="form-group">
                    <input type="submit" value="Guardar" class="btn btn-success" />
                </div>
            </div>
        </form>
    </div>
</div>
